@import url('https://fonts.googleapis.com/css2?family=Fira+Sans&family=Josefin+Sans&display=swap');

body {
    background-image: url(bulan.jpg);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    font-family: 'Josefin Sans', sans-serif;
    box-sizing: border-box;
    height: 100vh;
}

img {
    margin: 0 10px;
    transition: .3s opacity ease-out;
}

.sosmed:hover {
    opacity: .7;
}

.judul {
    text-align: center;
}

.judul h2 {
    font-size: 30px;
    color: white;
    text-shadow: 2px 2px 4px black;
}

.judul img {
    border-radius: 50%;
}

.container {
    display: flex;
    justify-content: center;
    max-width: 50%;
    margin: 40px auto 0;
}


footer {
    width: 100%;
    font-size: 27px;
    color: white;
    text-shadow: 2px 2px 4px black;
    display: flex;
    justify-content: center;
    margin-top: 150px;
}



@media (max-width:411px) {
    body {
        height: 95.5vh;
    }
}